[Unit]
Description=Consul Server
After=network.target tinc.service
Requires=tinc.service

[Service]
User=consul
Group=consul
# wait 30 seconds for tinc to aquire an ip address
ExecStart=/usr/local/bin/consul agent -config-dir /etc/consul.d/server -bind {{ node_ip }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID
KillMode=process
Restart=always
RestartSec=5
TimeoutStartSec=60


[Install]
WantedBy=multi-user.target

