[Unit]
Description=FSconsul
After=network.target consul-server.service 
Requires=consul-server.service

[Service]
User=root
Group=root
# allow 30 seconds for consul to establish a quorum
ExecStart=/bin/sh -ec 'sleep 30 ; /usr/local/bin/fsconsul -configFile=/etc/fsconsul.json'

ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID
KillMode=process
Restart=always
RestartSec=5
TimeoutStartSec=60


[Install]
WantedBy=multi-user.target
