{
  "version": "1.0",
  "repos": [{
    "name": "self_service_vpn",
    "url": "https://github.com/Azulinho/self-service-vpn.git",
    "branches": ["core-vpn"],
    "include_branch_name": "false",
    "source_root": "hosts",
    "hooks": [{
      "type" : "polling",
      "interval" : "1"
    }]
  }]
}
