{
  "version": "1.0",
  "repos": [{
    "name": "{{ service_name }}",
    "url": "{{ git_url }}",
    "branches": {{ git_branches }},
    "include_branch_name": "false",
    "source_root": "{{ git_root }}",
    "hooks": [{
      "type" : "polling",
      "interval" : "{{ pooling_interval }}"
    }]
  }]
}
